# Functions in Python

In [1]:
# creating definition

def even_odd(num):
    if num%2==0:
        print('even')
    else:
        print('odd')

In [4]:
even_odd() #if we not specify argument inside the calling function we get positional error

TypeError: even_odd() missing 1 required positional argument: 'num'

In [7]:
def hello_world():
    print('Welcome')

In [11]:
var=hello_world()
print(var)  #if in the function definition we have condition of print when assigned to variable and called it gives O/P:None

Welcome
None

In [ ]:
# To overcome the above cenario we use return statement

In [12]:
def hello_world():
    return('Welcome')

In [16]:
var=hello_world()
print(var) #here the value is returned

Welcome

In [17]:
def summation(x1,x2,x3): # we can create the definition with many arguments
    return x1+x2+x3

In [18]:
summation()

TypeError: summation() missing 3 required positional arguments: 'x1', 'x2', and 'x3'

In [19]:
summation(22,33,44)

99

In [22]:
#Positional and keyword arguments

def hello(name,age=26):
    print("my name is {} and age{}".format(name,age))

In [23]:
hello('alok')

'''
Here the name parameter is positional argument as it does not have any values assigned
if parameteres are specified in terms of key value pairs it is keyword argument 
'''

my name is alok and age26

In [27]:
def hello(*args,**kwargs): #*args is positional argument
    print(args)            #**kwargs is keyword argument
    print(kwargs)

In [29]:
hello('krish','daali','hublot',age=34,dob=97)

('krish', 'daali', 'hublot')
{'age': 34, 'dob': 97}

In [31]:
lst1=['krish', 'daali', 'hublot'] # positional argument value o/p
lst2={'age': 34, 'dob': 97} # keyword argument value o/p

In [32]:
hello(lst1,lst2) # this output is not proper as its taking both list as args hence one output

(['krish', 'daali', 'hublot'], {'age': 34, 'dob': 97})
{}

In [33]:
hello(*lst1,**lst2) # now we mention by *,** and give clarity to function

('krish', 'daali', 'hublot')
{'age': 34, 'dob': 97}

In [70]:
lst=[1,2,3,4,5,6,7]

In [73]:
def evenodd_sum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
     return even_sum,odd_sum

In [74]:
evenodd_sum(lst)

(12, 16)

# Lamda Functions

anonymous function / function with no name
It works more faster than that of normal function

We can use only if we havde single expression/operation inside the definition function

In [76]:
addition=lambda a,b:a*b

In [77]:
addition(3,5)

15

In [78]:
even = lambda num:num%2==0

In [80]:
even(35)

False

In [81]:
#We can create it with any number of parameters but the return function should be a single value
#we cannot write multiple expression/operation />1 lines of code in function
# we use keywor as lambda

SyntaxError: invalid syntax (4010409931.py, line 1)

# Map functions

The format is function and iterable

Iterable is the list of data in which each and every element in list need to be checked by the same function
 
It helps us to skip for loop
 
it uses lazy loading technique

In [85]:
def even_or_odd(num):
    if num%2==0:
        return 'the {} iseven'.format(num)
    else:
        return 'the {} isodd'.format(num)

In [86]:
even_or_odd(56)

'the 56 iseven'

In [88]:
lst3=[34,546,76,35,3456,7,7654,86]

In [89]:
map(even_or_odd,lst3) # we do not get the output as memory is not instanciated by map function()
# hence we assign it to list

In [92]:
list(map(even_or_odd,lst3) )

['the 34 iseven',
 'the 546 iseven',
 'the 76 iseven',
 'the 35 isodd',
 'the 3456 iseven',
 'the 7 isodd',
 'the 7654 iseven',
 'the 86 iseven']

# Filter function

In [93]:
def even(num):
    if num%2==0:
        return True

In [94]:
lst4=[1,2,3,4,5,6,7,8,9]

In [95]:
list(filter(even,lst4))

[2, 4, 6, 8]

In [96]:
# using lambda function
filter(lambda num: nun%2==0,lst4)

In [98]:
list(filter(lambda num: num%2==0,lst4))

[2, 4, 6, 8]

In [103]:
#using map
list(map(lambda num: num%2==0,lst4))

[False, True, False, True, False, True, False, True, False]

# List Comprehension
We use this to write one line code in the []
It is in format of expression, for clause and no of if and for statements as per requirement

In [6]:
lst5=[]
def list_square(lst):
    for i in lst:
        lst5.append(i*i)
    return lst5

In [7]:
list_square([1,2,3,4,5,6,7,8])

[1, 4, 9, 16, 25, 36, 49, 64]

In [27]:
# using list Comprehension for above case
lst=[1,2,3,4,5,6]

In [29]:
lst6=[i*i for i in lst if i%2==0]

In [30]:
print(lst6)

[4, 16, 36]

# String formatting
 It basically depends on the place hohlders

In [31]:
def greeting(name):
    return 'hello {} welcome to company'.format(name)

In [33]:
greeting('gokul')

'hello gokul welcome to company'

In [40]:
def Welcome(name,age):
    return 'hello {} and the age is{}'.format(name,age)

In [41]:
Welcome('gokul',23)

'hello gokul and the age is23'

In [42]:
 def Welcome(name,age):
    return 'hello {age} and the age is{name}'.format(age=name,name=age)

In [43]:
Welcome('gokul',23)

'hello gokul and the age is23'

# Iterables vs Iterators

List are Iterable s

In [66]:
lst7=[1,8,2,3,5,9]
for i in lst7:
    print(i)

1
8
2
3
5
9

In [67]:
# Converting the list to iterstor
lst_iter=iter(lst7)

In [54]:
lst_iter

In [69]:
next(lst_iter) # all the time we call this fn only one element is stored to the memory
# if we try displaying rest elements it gives out the values after the next() fn has called

8

In [70]:
for i in lst_iter:
    print(i)
# it prints the data sfter the next()fn has called

2
3
5
9

# Pyforest -lazy import of all DataScience Libraries

In this we don't import any library for the execution everything is done by its own
Basically in this we dont need to specify the things for importing

---if we install pyfrost package it is more than sufficient to use this type

pip install Pyforest

We can export the python with the imports statement
---

In [ ]:
'''
df=pd.read_csv('link')
df.head()
# we get the output

#to see which library is imported
active_imports()
# we get the output as pandas
lst1=[1,2,3,4]
lst2=[2,3,4,5]
plt.plot(lst1,lst2)
plt.xlabel('xaxis')
plt.ylabel('yaxis')
plt.show()
#gives output

active_imports()
#gives pandas and numpy and matplotlib.pyplot
np.array([1,2,3,4,5])
df1=pd.read_csv('mercedesbenz.csv')
df1.head()
sns.distplot(df[5])
active_imports()
#gives pandas and numpy and matplotlib.pyplot and seaborn




'''