#love

In [5]:
a=5+5;
b=5;
c=a+b;
print (c);

15

In [11]:
10*2
2**3 #this ** is power of the number 
10*'str'#prints number of times the string is multiplied

'strstrstrstrstrstrstrstrstrstr'

In [2]:
print("Alok is gonna rule data science industry")

Alok is gonna rule data science industry

In [3]:
print("love you")

love you

In [4]:
...
multiline commenting
...

SyntaxError: invalid syntax (Temp/ipykernel_17300/2414937313.py, line 2)

In [12]:
'''This is multiline commenting

It is done by using 3 single qoutes'''

'This is multiline commenting\n\nIt is done by using 3 single qoutes'

In [25]:
#to see the which datatype the content belongs to we use 
int h=100 #no need to define the type of variable we get error by doing this
h=100
type(h)

SyntaxError: invalid syntax (Temp/ipykernel_17300/2870575122.py, line 2)

In [ ]:
fname="Alok"
lname="Chakravarthi"
print("My name is and  {}".format(fname,lname))

In [1]:
fname="Alok"
lname="Chakravarthi"
print("My name is {last} and  {first}".format(first=fname,last=lname))

My name is Chakravarthi and  Alok

# List

In [ ]:
#List can contain all the elements irrespective of the datatype
#We define it by using [] braces 
#Index Numbering starts from 0

lst=[]
type(lst)

In [26]:
lst=["Cat","Dog","Lion", 222,333,44,55]
print(lst)

['Cat', 'Dog', 'Lion', 222, 333, 44, 55]

In [ ]:
lst.append("alok")

In [ ]:
lst

In [ ]:
#gives the particular value of item in list
lst[6]

In [ ]:
#gives all the values in the list it is called "SLICE OPERATOR"
lst[:]

In [ ]:
#to mention from which index
lst[4:8]

In [ ]:
#creates nested list 
#lst.append(["loki","thor"])
lst.append("chakravarthi")

In [ ]:
print(lst)

In [ ]:
#Insert a value for a particular specified index
lst.insert(4,"lobe")

In [ ]:
lst

In [ ]:
#adds the value to the list without nested list values unlike done by append function
lst.extend([9,8])

In [ ]:
# .index() gives the index of element (tobe searched,search start from index,search end index)
lst.index('alok',1,9)

In [ ]:
lst

# Set

In [ ]:
# set defintion we define by using {} bracket, we only give values inside brackets
set_val=set()
print(set_val)
print(type(set_val))

In [61]:
'''
Here there is no concept of indexing,
no duplicate values can be stored in sets,
even if we enter the duplicate values it reads only for a single time
'''
set_val={"loki","thor","ironman"}
print(set_val)

{'loki', 'thor', 'ironman'}

In [3]:
set_value={1,'dd',66,'ch'}
print(type(set_value))
for x in set_value:print(type(x))
print(set_value)

<class 'set'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
{1, 'dd', 'ch', 66}

In [ ]:
set_val.add('hulk')
#set_val.intersection(set_value) gives the common elements
#set_val.intersection_(set_value) gives the updated list of elements in thenext run
print(set_val)

# Dictionaries

In [27]:
#Dictionaries here we define as sets but we have both key and value pairs together
dic={"key":"value"}
print(dic)
dic1={"car1":'Mrec Benz',"car2":"Lambo","car3":"BMW"}
print(dic1)

{'key': 'value'}
{'car1': 'Mrec Benz', 'car2': 'Lambo', 'car3': 'BMW'}

In [ ]:
# here we access the values by calling the keyvalues, and not by indexvalues
dic1["car2"],dic1["car3"]

In [ ]:
#calling the values and data with for
for x in dic1:print (x)

In [ ]:
#prints only values
for x in dic1.values(): print (x)
#prints all the data/items in dictionary
for x in dic1.items(): print(x)

In [29]:
#adding element to dictionary
dic1["car4"]="VW" # if we give any repetiative key values the value of the repeated key is changed or replaced by new vwlue
print(dic1)

{'car1': 'Mrec Benz', 'car2': 'Lambo', 'car3': 'VW', 'car4': 'VW'}

In [ ]:
#adding/updating the value to the same key value overides the previous data and replaces new data
dic1['car4']='masarati'
dic1
#we can observe the value of the car4 is changed to new value

## nested dictionary

In [30]:
#car11, car22, car33 are variable containing defined keyvalue pair (i.e-dictionary)
car11={"merc":2022}
car22={"lamno":2025}
car33={"bmw":2028}

#here the variables/dictionary we do not use "" or '' for value , and is converted into value in car_type

car_type={'car1':car11,'car2':car22,'car3':car33}
print(car_type)

{'car1': {'merc': 2022}, 'car2': {'lamno': 2025}, 'car3': {'bmw': 2028}}

In [31]:
#car_type is having all the values of car11,car22,car33 in car1,car2,car3 as key values in car_type
print(car_type['car3'])
#here we accessed the key of cartype
#print(car_type['car1']['car11'])
#we get error coz car11 is the variable

#car_type variable is nested directory 'car2, is key of car_type 'lamno' is key of car11
print(car_type['car2']['lamno'])

{'bmw': 2028}
2025

# tuple

In [ ]:
# Is a list, where we define the tuple which cannot be altered it has to be destroyed to create new one
# It is used only when the data is unaltered
my_tuple=tuple()

In [ ]:
print(my_tuple)
print(type(my_tuple))

In [ ]:
my_tuple=('loki','ajay',8,'easy',3,3,"loki","love")
my_tuple

In [ ]:
#cannot assign by using index also as it is immutable
my_tuple[3]="alok"

In [ ]:
type(my_tuple)

In [ ]:
#to count no of times repeated
my_tuple.count(3)

In [ ]:
#to see the index of element
my_tuple.index('easy')

In [ ]:
# the user cannot assign any value to the index or insert can be done to tuple, IT IS FIXED ONCE CREATED

# Constant Variable

In [ ]:
#here we use capitals to create the variables and assign the value will not change over operating on it, it will stay the same

In [43]:
variable=10;
variable+10

20

In [47]:
constVariable=10;
constVariable+20

30

In [51]:
CONSTANT =10;
CONSTANT+10

20

In [60]:
MYCONSTANT=10;
MYCONSTANT+20
print(MYCONSTANT)
MYCONSTANT1=20;
MYCONSTANT1+10
print(MYCONSTANT1)
MYY=33
MYY+5
print(MYY)

10
20
33

In [1]:
lst=[1,2,3,4,5,6,7,8,9]

In [2]:
def evenodd_sum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else
            odd_sum=odd_sum+i
        return even_sum,odd_sum

In [3]:
evenodd_sum(lst )

(0, 1)